doctype html
html
	head
		meta(charset='UTF-8')
		title I N C U B A T I O N
		link(rel='stylesheet', href='/bower_components/Materialize/bin/materialize.css')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/Materialize/bin/materialize.js')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(type='text/javascript').
			$(document).ready(function(){
				$('.button-collapse').sideNav({
					menuWidth: 300, // Default is 240
					edge: 'right', // Choose the horizontal origin
					closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
					}
				);
			});

	body
		.row
			.col.s12
				ul.tabs
					li.tab.col.s3
						a(href='#test1') Manual Robotics
					li.tab.col.s3
						a(href='#test2') Autonomous Robotics
					li.tab.col.s3
						a(href='#test3') Coding
					li.tab.col.s3
						a(href='#test4') Bridge Building
			#test1.col.s12
				each event in events
					.row
						.col.s12
							.card.small
								.card-image
									img(src=event.fullImage)
									span.card-title #{event.name}
								.card-content
									p= event.caption
								.card-action
									a(href='#') This is a link
			#test2.col.s12 Test 2
			#test3.col.s12 Test 3
			#test4.col.s12 Test 4
