doctype html
html
  head
    meta(charset='UTF-8')
    title I N C U B A T I O N
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js')
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    #navbar
    script(src='reactScript/bundle.js')
