doctype html
html
	head
		meta(charset='UTF-8')
		title I N C U B A T I O N
		link(rel='stylesheet', href='/bower_components/Materialize/bin/materialize.css')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/Materialize/bin/materialize.js')
		link(rel='stylesheet', type='text/css', href='css/main.css')
	body
		#navbar
		.parallax-container
			.parallax
				img(src='http://materializecss.com/images/parallax1.jpg')
		.section.white
			#test.row.container
		script(src='reactScript/bundle.js')
		script.
			$(document).ready(function(){
				$('.parallax').parallax();
			});
