.navbar{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.navItems{
  padding: 20px
}

body{
  margin: 0px
}

.profile_picture{
    padding-top: 20px;
}

.parallax-container {
      height: 100vh;
}

li{
    margin: 0px;
    padding: 0px;
}
